name: Build release APK (FOSS)
on:
  workflow_dispatch:
  push:
    branches:
      - 'dev'
    paths-ignore:
      - 'README.md'
      - 'fastlane/**'
      - 'assets/**'
      - '.github/**/*.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**'
  pull_request:
    branches: [ dev ]
    paths-ignore:
      - 'README.md'
      - 'fastlane/**'
      - 'assets/**'
      - '.github/**/*.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: "zulu"
          cache: 'gradle'

      - name: Update build product flavor
        run: |
          echo "" >> ./gradle.properties
          echo "isFullBuild=true" >> ./gradle.properties

      - name: Update Sentry Secrets
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: |
          echo 'SENTRY_DSN=${{ secrets.SENTRY_DSN }}' > ./local.properties
          echo "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}" >> ./local.properties

      - name: Generate aboutLibraries.json
        run: ./gradlew exportLibraryDefinitions

      - name: Build release APK
        run: ./gradlew composeApp:assembleDebug
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: composeApp/build/outputs/apk/debug/*.apk
